In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt

C:\Users\johnc\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
data = pd.read_csv('../data/gender_weight_height.csv')#,index_col='Index')
data["Gender"] = [1 if g == "Male" else 0 for g in data["Gender"]]
data.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [4]:
X = data[["Height", "Weight"]].values
y = data["Gender"].values

In [6]:
data.groupby('Gender').count() / len(data)

        Height  Weight
Gender
0          0.5     0.5
1          0.5     0.5